.menu-block-box{
  // pointer-events:none ;
  box-sizing: border-box;
  padding:20px;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px;
  .menu-item{
    height: 30vh;
    background: rgba(204, 204, 204, 0.473);
    transition: all 1s;
  }
  .menu-item-active{
    transform: scale(1.05);
    opacity: 1;
  }
  .menu-item:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .menu-item:nth-of-type(10){
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .bg1{
    background:url('../assets/img/desert.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
  }
  .bg2{
    background:url('../assets/img/sea.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
  }
}