@keyframes hiddenMenu{
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0) scaleY(0);
    display: none;
  }
}
@keyframes showMenu{
  0%{
    transform: scaleX(0) scaleY(0);
  }
  100%{
    transform: scale(1);
    display: none;
  }
}

.menu-block-hidden{
  animation: hiddenMenu 1s 1 ease-in;
  transform-origin: 0 0;
  animation-fill-mode:forwards;
}
.menu-block-show{
  animation: showMenu 1s 1 ease-in;
  transform-origin: 0 0;
  animation-fill-mode:forwards;
  margin: 0;
  padding: 0;
}
.menu-ctrl-basic{
  color: var(--primary);
  position: absolute;
  display: block;
  font-size: 35px;
  font-weight: 500;
  background: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  user-select: none;
  margin: 20px 0 0 20px;
  transition: all 1s;
}
.menu-ctrl-hidden{
  animation: ctrlHidden 1.5s 1 ease-in;
  transform-origin: 0 0;
  animation-fill-mode:forwards;
}

.menu-ctrl-show{
  animation: ctrlshow 1.5s 1 ease-in;
  transform-origin: 0 0;
  animation-fill-mode:forwards;
}
@keyframes ctrlHidden {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}
@keyframes ctrlshow {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.menu-block-box{
  position: absolute;
  transform: scaleX(1) scaleY(1);
  // pointer-events:none ;
  box-sizing: border-box;
  padding:20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px;
  .menu-item{
    height: 30vh;
    background: rgba(204, 204, 204, 0.473);
    transition: all 0.5s;
  }
  .menu-item-box:hover .menu-item{
    perspective: 500px;
    box-shadow: 3px 3px 15px 0px rgba(255, 255, 255, 0.801);
    transform: scale(0.95);
    cursor: pointer;
  }
  .menu-item-active{
   
    opacity: 1;
  }
  .menu-item-box:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .menu-item-box:nth-of-type(10){
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .bg1{
    background:url('../assets/img/desert.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
  }
  .bg2{
    background:url('../assets/img/sea.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
  }
}
