@keyframes hiddenMenu{
  0%{
    transform: scaleX(1);
  }
  100%{
    transform: scaleX(0) scaleY(0);
    display: none;
  }
}
@keyframes showMenu{
  0%{
    transform: scaleX(0) scaleY(0);
  }
  100%{
    transform: scale(1);
    display: none;
  }
}

.menu-block-hidden{
  animation: hiddenMenu 1s 1 ease-in;
  transform-origin: 0 0;
  animation-fill-mode:forwards;
}
.menu-block-show{
  animation: showMenu 1s 1 ease-in;
  transform-origin: 0 0;
  animation-fill-mode:forwards;
  margin: 0;
  padding: 0;
}
.menu-ctrl-show{
  color: var(--primary);
}
.menu-block-box{
  position: absolute;
  transform: scaleX(1) scaleY(1);
  animation: ss 1.5s 0 0 infinite ease-in;
  // pointer-events:none ;
  box-sizing: border-box;
  padding:20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px;
  .menu-item{
    height: 30vh;
    background: rgba(204, 204, 204, 0.473);
    transition: all 1s;
    animation: hiddenAnimate 1.5s 0 0 infinite ease-in;
  }
  .menu-item-active{
    transform: scale(1.05);
    opacity: 1;
  }
  .menu-item:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .menu-item:nth-of-type(10){
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .bg1{
    background:url('../assets/img/desert.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
  }
  .bg2{
    background:url('../assets/img/sea.jpg');
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
  }
}
